services:
  db:
    image: postgres:15-alpine
    container_name: melhorado_postgres_db 
    restart: unless-stopped
    environment:
      POSTGRES_DB:       melhorado_app_db
      POSTGRES_USER:     LEVIappuser
      POSTGRES_PASSWORD: secret
    volumes:
      - melhorado_dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U LEVIappuser"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: melhorado_laravel_app
    restart: unless-stopped
    volumes:
      - ./backend:/var/www/html
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: melhorado_nginx_proxy
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  melhorado_dbdata: